<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<title>{{ page_title }}</title>
<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

{{# fonts }}
<script type="text/javascript" charset="utf-8" src="{{{ . }}}"></script>
{{/ fonts }}
{{# stylesheets }}
<link rel="stylesheet" type="text/css" href="{{{ . }}}">
{{/ stylesheets }}

</head>
<body>

{{{ yield }}}
{{# templates }}
<script type="text/mustache" id="{{ id }}">
{{{ text }}}</script>
{{/ templates }}

{{# javascripts }}
<script type="text/javascript" charset="utf-8" src="{{{ . }}}"></script>
{{/ javascripts }}

</body>
</html>

